<!DOCTYPE html>
<html>
<head><title>Registro</title></head>
<body>
    <h1>Registro de Usuario</h1>
    <form method="POST">
        Correo: <input type="email" name="correo"><br>
        Contraseña: <input type="password" name="contra"><br>
        <input type="submit" value="Registrar">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>